/*!CK:22006586!*//*1403172001,*/

.sp_MxIaQR76MqA{background-image:url(/rsrc.php/v2/yR/r/eKaDOxiCUeP.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:34px;width:34px}.sp_MxIaQR76MqA.sx_9fae31{width:16px;height:16px;background-position:0 -70px}.sp_MxIaQR76MqA.sx_1fe2ed{width:16px;height:16px;background-position:-17px -70px}.sp_MxIaQR76MqA.sx_dc0eab{background-position:0 0}.sp_MxIaQR76MqA.sx_2968f0{background-position:0 -35px}

#bootloader_pTsmO { height: 42px; }
.bootloader_pTsmO { display:block !important; }