/*!CK:3342307763!*//*1402981599,*/

._4_zc:hover{text-decoration:none}
.friendOGReportUsers .actorsFacepile,.friendsAddedUnit{margin:-10px -22px -12px -18px}
.likeUnit{color:gray}.likeUnit .likeUnitImageContainer{width:85px;height:85px}.likeUnit .likeUnitName{max-height:28px;overflow:hidden}.singleLikeUnitName{padding-top:35px}.likeUnit .likeUnitTooltip{display:block;float:left;margin-right:10px;width:85px}.likeUnit .likeUnitNoMargin{margin-right:0}

#bootloader_ZsIvn { height: 42px; }
.bootloader_ZsIvn { display:block !important; }