/* Misc */
header .logo{background: #fff!important;}
header .logo:hover{background: #fff!important;}
.btn-delete{background:#ff0000; color:#fff;}
.btn-delete:hover{color:#fff;}
.btn-delete:active{color:#fff;}
.btn-delete:visited{color:#fff;}

.no-print{display: none;}

/* Logo */
header .logo img{height: 40px;}
.header .logo .icon{margin-right: 45px!important;}

/* Home page */
/*** Announcement ***/
.announcement-list{list-style: none; margin-left: -40px;}
.announcement-list li{background: #f3f4f5; cursor: pointer; margin: 5px 0; padding: 5px;}
.announcement-list li a{display: block;}